In [141]:
import math

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

df = pd.read_csv('D:\\Projects\\kaggle_titanic\\data\\train.csv')

# No Summary for Names or Cabin Number

In [142]:
# Summary
df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [143]:
# Passenger Class
for pc in np.sort(df.Pclass.unique()):
    print('Passenger Class %i\tCount: %i\tMean Survival: %.3f' %
    (pc, df[df.Pclass == pc].Survived.count(), df[df.Pclass == pc].Survived.mean()))

Passenger Class 1	Count: 216	Mean Survival: 0.630
Passenger Class 2	Count: 184	Mean Survival: 0.473
Passenger Class 3	Count: 491	Mean Survival: 0.242

In [144]:
# Passenger Sex
for s in df.Sex.unique():
    print('Passenger Sex %s\tCount: %i\tMean Survival: %.3f' %
    (s, df[df.Sex == s].Survived.count(), df[df.Sex == s].Survived.mean()))

Passenger Sex male	Count: 577	Mean Survival: 0.189
Passenger Sex female	Count: 314	Mean Survival: 0.742

In [145]:
# Passenger Age (Intervals of 5)
inter = 5
intervals = list(range(5, math.ceil(df.Age.max())+1, inter))
for age in intervals:
    print('Age Interval %i - %i\tCount: %i\tMean Survival: %.3f' %
    (age-inter, age, df[(df.Age > age-inter) & (df.Age <= age)].Survived.count(), df[(df.Age > age-inter) & (df.Age <= age)].Survived.mean()))

Age Interval 0 - 5	Count: 44	Mean Survival: 0.705
Age Interval 5 - 10	Count: 20	Mean Survival: 0.350
Age Interval 10 - 15	Count: 19	Mean Survival: 0.579
Age Interval 15 - 20	Count: 96	Mean Survival: 0.344
Age Interval 20 - 25	Count: 122	Mean Survival: 0.344
Age Interval 25 - 30	Count: 108	Mean Survival: 0.389
Age Interval 30 - 35	Count: 88	Mean Survival: 0.466
Age Interval 35 - 40	Count: 67	Mean Survival: 0.418
Age Interval 40 - 45	Count: 47	Mean Survival: 0.362
Age Interval 45 - 50	Count: 39	Mean Survival: 0.410
Age Interval 50 - 55	Count: 24	Mean Survival: 0.417
Age Interval 55 - 60	Count: 18	Mean Survival: 0.389
Age Interval 60 - 65	Count: 14	Mean Survival: 0.286
Age Interval 65 - 70	Count: 3	Mean Survival: 0.000
Age Interval 70 - 75	Count: 4	Mean Survival: 0.000
Age Interval 75 - 80	Count: 1	Mean Survival: 1.000

In [146]:
# Num Siblings/Spouses
intervals = list(range(0, int(df.SibSp.max())+1))
for num in intervals:
    print('Num Siblings/Spouses %i\tCount: %i\tMean Survival: %.3f' %
    (num, df[df.SibSp == num].Survived.count(), df[df.SibSp == num].Survived.mean()))

Num Siblings/Spouses 0	Count: 608	Mean Survival: 0.345
Num Siblings/Spouses 1	Count: 209	Mean Survival: 0.536
Num Siblings/Spouses 2	Count: 28	Mean Survival: 0.464
Num Siblings/Spouses 3	Count: 16	Mean Survival: 0.250
Num Siblings/Spouses 4	Count: 18	Mean Survival: 0.167
Num Siblings/Spouses 5	Count: 5	Mean Survival: 0.000
Num Siblings/Spouses 6	Count: 0	Mean Survival: nan
Num Siblings/Spouses 7	Count: 0	Mean Survival: nan
Num Siblings/Spouses 8	Count: 7	Mean Survival: 0.000

In [147]:
# Num Parents/Children
intervals = list(range(0, int(df.Parch.max())+1))
for num in intervals:
    print('Num Parents/Children %i\tCount: %i\tMean Survival: %.3f' %
    (num, df[df.Parch == num].Survived.count(), df[df.Parch == num].Survived.mean()))

Num Parents/Children 0	Count: 678	Mean Survival: 0.344
Num Parents/Children 1	Count: 118	Mean Survival: 0.551
Num Parents/Children 2	Count: 80	Mean Survival: 0.500
Num Parents/Children 3	Count: 5	Mean Survival: 0.600
Num Parents/Children 4	Count: 4	Mean Survival: 0.000
Num Parents/Children 5	Count: 5	Mean Survival: 0.200
Num Parents/Children 6	Count: 1	Mean Survival: 0.000

In [148]:
# Fare Price
inter = 10
intervals = list(range(10, 100+1, inter))
for price in intervals:
    print('Fare Interval %i - %i\tCount: %i\tMean Survival: %.3f' %
    (price-inter, price, df[(df.Fare > price-inter) & (df.Fare <= price)].Survived.count(), df[(df.Fare > price-inter) & (df.Fare <= price)].Survived.mean()))

print('Fare Interval > 100\tCount: %i\tMean Survival: %.3f' %
    (df[df.Fare > 100].Survived.count(), df[df.Fare > 100].Survived.mean()))

Fare Interval 0 - 10	Count: 321	Mean Survival: 0.206
Fare Interval 10 - 20	Count: 179	Mean Survival: 0.425
Fare Interval 20 - 30	Count: 142	Mean Survival: 0.444
Fare Interval 30 - 40	Count: 58	Mean Survival: 0.397
Fare Interval 40 - 50	Count: 16	Mean Survival: 0.250
Fare Interval 50 - 60	Count: 38	Mean Survival: 0.711
Fare Interval 60 - 70	Count: 17	Mean Survival: 0.353
Fare Interval 70 - 80	Count: 31	Mean Survival: 0.613
Fare Interval 80 - 90	Count: 17	Mean Survival: 0.824
Fare Interval 90 - 100	Count: 4	Mean Survival: 1.000
Fare Interval > 100	Count: 53	Mean Survival: 0.736

In [149]:
# Passenger Embarked
for e in df.Embarked.unique():
    print('Passenger Embarked %s\tCount: %i\tMean Survival: %.3f' %
    (e, df[df.Embarked == e].Survived.count(), df[df.Embarked == e].Survived.mean()))

Passenger Embarked S	Count: 644	Mean Survival: 0.337
Passenger Embarked C	Count: 168	Mean Survival: 0.554
Passenger Embarked Q	Count: 77	Mean Survival: 0.390
Passenger Embarked nan	Count: 0	Mean Survival: nan